#custom-search-input{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron{
    background-color:white;
    border:1px solid burlywood;
}
.btn-warning {
    background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6707), color-stop(60%, #dd5600), to(#c94e00));
    background-image: linear-gradient(#e6dbd3, #dd5600 60%, #c94e00);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #aa4200;
}
.btn-danger {
    background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e12b31), color-stop(60%, #c71c22), to(#b5191f));
    background-image: linear-gradient(#ffe7e7, #c71c22 60%, #b5191f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe12b31', endColorstr='#ffb5191f', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #9a161a;
}
.btn-primary {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#e7f6ff, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #178acc;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(255, 249, 240, 0.71);
    border: 1px solid #f9e6d6;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
   
legend{
    text-align: center;
    background-color: #f9f3d7;
    font-family: Georgia,Impact, Charcoal, sans-serif;
    color: #ff7b52;
}
thead tr th {
    cursor: pointer;
}
thead tr th span{
    margin-left: 20px;
}
.glyphicon .glyphicon-triangle-top,
.glyphicon .glyphicon-triangle-bottom {
    width: 0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
}

/*
=============
plus button
=============
*/
.expand-box{
  position:relative;
  /*top:260px;*/
    top:350px;
}

.round-part{
  position:absolute;
  left:0;
  bottom:0;
 /* width:200px;
  height:200px;*/
    width:180px;
    height: 180px;
  border-radius:50%;
  background-color:red;
  -moz-transform: scale(0.2);
-webkit-transform: scale(0.2);
-o-transform: scale(0.2);
-ms-transform: scale(0.2);
transform: scale(0.2);
-webkit-transform-origin: 0% 100%;
-moz-transform-origin: 0% 100%;
-o-transform-origin: 0% 100%;
-ms-transform-origin: 0% 100%;
transform-origin: 0% 100%;
  -webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}

.square-part{
  position:absolute;
  bottom:0;
  left:0;
  width:100px;
  height:100px;
  background-color:red;
  -moz-transform: scale(0.2);
-webkit-transform: scale(0.2);
-o-transform: scale(0.2);
-ms-transform: scale(0.2);
transform: scale(0.2);
-webkit-transform-origin: 0% 100%;
-moz-transform-origin: 0% 100%;
-o-transform-origin: 0% 100%;
-ms-transform-origin: 0% 100%;
transform-origin: 0% 100%;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}

.round-part .round-textbox{
  width:100%;
  height:100%;
  position:relative;
}

.expanded{
    -moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}

.wrapper{
  width:100%;
  height:100%;
  position:absolute;
  text-align:center;
  display:table;
}

.wrapper span{
display: inline-block;
  vertical-align: middle;
  line-height: normal;  
  display:table-cell;
  max-width:80%;
  max-height:80%;
  overflow:hidden;
  color:#fff;
  opacity:0;
      -webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}

.round-part.expanded .wrapper span{
  opacity:1;
      -webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}

.expand-button{
  position:absolute;
  bottom:0px;
  left:10px;
  z-index:999;
  font-size:30px;
  color:#fff;
  cursor:pointer;
}

.expand-button.clicked{
  z-index:9999999999999;
    -webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}

.expand-button.clicked {
-webkit-animation: rotateForward 1s 1 ease;
-moz-animation: rotateForward 1s 1 ease;
-o-animation: rotateForward 1s 1 ease;
}

.expand-button.doubleclicked {
-webkit-animation: rotateBack 1s 1 ease;
-moz-animation: rotateBack 1s 1 ease;
-o-animation: rotateBack 1s 1 ease;
}

.wrapper span {
  padding: 0 10%;
  display:table-cell;
}

@-webkit-keyframes rotateForward {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotateForward {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}
@-o-keyframes rotateForward {
from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}

@-webkit-keyframes rotateBack {
from { -webkit-transform: rotate(360deg); }
to { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes rotateBack {
from { -moz-transform: rotate(360deg); }
to { -moz-transform: rotate(0deg); }
}
@-o-keyframes rotateBack {
from { -o-transform: rotate(360deg); }
to { -o-transform: rotate(0deg); }
}



